* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
  
.header {
    position: sticky;
    background-color: #ffffff;
    padding: 0 2rem;
}

.logo {
    display: inline-block;
    padding: 2rem 0;
    width: 50%;
}

.main-nav__item {
    display: none;
}

.main-nav__bars {
    color: #999999;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hero {
    display: flex;
    margin-bottom: 20%
}

.text__item {
    padding-top: 3rem;
}

.text__item1 {
    font-weight: 700;
    font-size: 1rem;
    color: #ff3998;
    letter-spacing: 0.1em;
}

.text__item2 {
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}

.text__item3 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 150%
}

.hero-container {
    background: #ffffff;
    /* background-image: url("../imgs/graphic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 200px -50px; */
    padding: 0 7rem 0 2rem;
}

/* .heroImg {
    width: 100px;
    flex-shrink: 0;
    object-fit: contain;
} */

hero img {
    position: absolute;
    width: 500px;
    /* max-width: 120%; */
    left: 43%;
    /* min-width: 500px; */
    top: 4%;

}

button {
    border-radius: 100px;
    background-image: url("../imgs/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.2rem 0.3rem 0.25rem 0.3rem;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
}
button div {
    /* box-sizing: border-box; */
    padding: 1.2rem 2.4rem;
    border-radius: 100px;
    background-color: #ffffff;
}

.page2 {
    background-image: url("../imgs/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25% 0 5% 0;
}
.page2__text {
    padding: 0 2rem;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
}
div p {
    font-weight: 400;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* figure {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    column-gap: 4rem;
} */

.companies {
    padding-top: 10%;
}

figure img {
padding-bottom: 10%;
}

figure div {
flex-shrink: 0;
width: 8.5rem;
overflow: hidden;
}

.page3 {
    padding: 0 2rem;
}

section h2 {
    font-weight: 500;
}

.page3__text2 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 150%;
    color: #555555;
}

p span {
 text-decoration: underline ;
}

.opendoorPic {
    display:none;
}

.footer-upsell {
    padding: 2rem 7rem 0 2rem;
    display: flex;
}
.footer-upsell__item1 {
    font-weight: 700;
    font-size: 1rem;
    color: #ff3998;
    letter-spacing: 0.1em;
}

.footer-upsell__item2 {
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}

.footer-upsell__item3 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 150%;
}


hr {
    min-width: 428px;
}

.footer {
    padding: 2rem 7rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
}


.footer__logos > * {
max-width: 15% ;
height: auto;
padding-top: 0;
}

.footer__logos {
    display: flex;
    justify-content:space-between;
    margin:0;
    padding: 0.5rem 50% 1rem 0;
}

footer div img {
padding: 1.5rem 0;
}

.footer__links {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.copyright {
    color: #555555;
}

.footer__linksNFT {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    text-decoration: none;
}

.footer__NFT, .footer__about, .footer__contact, .footer__social {
    width: 6rem;
    
    
}

.footer__linksNFT, .footer__linksabout, .footer__linkscontact, .footer__linkssocial {
    line-height: 150%;
    width: 4rem;
    color:#555555;
    text-decoration: none;

    
}

.ExclusiveNFTCollection {
    font-weight: 400;
    font-size: 1.3rem;
    color:#555555;
}






