* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
  }
  
.header {
    position: sticky;
    background-color: #ffffff;
    padding: 0 2rem;
}

.logo {
    display: inline-block;
    padding: 2rem 0;
    width: 50%;
}

.main-nav__item {
    display: none;
}

.main-nav__bars {
    color: #999999;
    ;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hero {
    display: flex;
    margin-bottom: 20%
}

.text__item {
    padding-top: 3rem;
}

.launchtext__item {
    font-weight: 700;
    font-size: 1rem;
    color: #ff3998;
    letter-spacing: 0.1em;
}
h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}

section p {
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 150%
}

.hero-container {
    background: #ffffff;
    background-image: url("../imgs/graphic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 200px -50px;
    padding: 0 7rem 0 2rem;
}

button {
    border-radius: 100px;
    background-color: #ffffff;
    padding: 10% 20%;
    font-weight: 600;
    font-size: 20px;
    border: thick solid;
    border-left-color: linear-gradient(#FF3998, #FF3939) ;
}

.page2 {
    background: rgb(255,83,166);
    background: linear-gradient(70deg, rgba(255,83,166,1) 0%, rgba(255,94,94,1) 0%, rgba(255,168,119,1) 90%, rgba(215,255,235,1) 100%);
    padding: 25% 0 5% 0;
}
.page2__text {
    padding: 0 2rem;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
}
div p {
    font-weight: 400;

}


